<h1>Orders</h1>
<% @orders.each do |order| %>
<div class="row">
  <h2>Order Status: <%= order.state %></h2>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>State</th>
      <th>Date Listed</th>
      <th>Image</th>
      <th></th>
    </tr>
    <% order.items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <td><%= item.state %></td>
      <td><%= item.posted_on %></td>
      <td><a href="#" rel="popover" data-content="<img src=&quot;<%= item.img_src %>&quot; />" data-original-title="<%= item.title %>">Image</a></td>
      <td><button id="<%= item.id %>" class="add_to_cart">Add to cart!</button></td>
    </tr>
    <% end %>
  </table>
  <button id="<%= order.id %>" class="place_order">Place Order!</button>
</div>
<% end %>