<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Shopping" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Shopping app in rails" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body style="padding-top:60px; padding-bottom:40px;">
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  <script type="text/template" id="seller-inventory-template">
    <h1>Items for sale</h1>
    <ul class="inventory"></ul>
  </script>

  <script type="text/template" id="playlist-template">
    <h1>Playlist</h1>
    <nav>
      <button class="control play">Play</button>
      <button class="control pause">Pause</button>
      <button class="control prev">Prev</button>
      <button class="control next">Next</button>
    </nav>
    <ul class="albums">
    </ul>
  </script>

  <script type="text/template" id="seller-item-template">
    <img src="{{src}}" alt="http://placehold.it/300x200">
    <div class="caption">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <p><a href="#" class="btn btn-primary">Delete</a><a href="#" class="btn">Action</a></p>
    </div>
  </script>
  </body>
</html>